extend ../../../views/layout

append template-vars
  active_page = '/u'

prepend title
  | Arbitrators directory |

append css
  link(rel='stylesheet', type='text/css', href='/user.css')

block content
  .container-page
    .page-header
      :markdown
        ## Bitrated's arbitrators directory

        **The arbitrators below were not vetted by Bitrated.**
        Be careful when choosing an arbitrator.
    for user in users
      .user
        h4: a(href=user.profile_url)= user.username
        more_dots = user.content.length>500 ? '...' : ''
        .well!= marked(user.content.substr(0, 500) + more_dots)
        a.btn.btn-primary(href=user.profile_url) Full profile 
        | 
        a.btn(href=user.tx_url) Start transaction

    if pages > 1
      ul.pager
        if page > 1
          li.previous: a(href="/u/page/#{page-1}") Previous
        li Page #{page} of #{pages}
        if page < pages
          li.next: a(href="/u/page/#{page+1}") Next
