extend ../../../views/layout

prepend title
  | #{user.username} | 


block content
  h2 #{user.username}'s profile

  .row-fluid
    .span8.clearfix
      .well
        != marked(user.content)
      - proof_popover = '<div class="proof-popover">'
      - proof_popover += 'This digital signature signs the terms:'
      - proof_popover += '<pre>'+user.sig+'</pre>'
      - proof_popover += 'A textual version is available '
      - proof_popover += '<a href="'+user.profile_url+'.txt">here</a>.'
      - proof_popover += '</div>'

      p.badge.badge-success.pull-right.signed(data-toggle='popover', data-html='data-html', data-placement='left', data-content=proof_popover)
        | <i class="icon-ok-sign icon-white"></i> Signed by #{user.username}
      a.btn.btn-primary.btn-large(href=user.tx_url) Start transaction

    .span4
      dl
        dt Public key:
        dd.break #{user.pubkey}
        dt Public key address:
        dd.break #{user.pubkey_address}

  .muted(style='margin-top: 4em')
    :markdown
      **Alt formats:**
      [json](#{user.profile_url}.json) &middot; [text](#{user.profile_url}.txt)

append scripts
  script $('[data-toggle=popover]').popover()
