#escrow.row-fluid
  .span5
    h3 Escrow Details

    //h4 Terms
    label Terms of agreement:
    pre.terms= terms
    label Terms SHA256:
    pre= terms_hash
    //p.muted Terms SHA256: #{terms_hash}

    //h4 Parties
    label Your public key:
    pre= bob

    if alice 
      label Other party public key:
      pre= alice

    label Escrow public key:
    pre= trent 
    //p.help-block.registered-as Registered as: <a href="#">davidblo</a> +341 -78

    if multisig
      label Multisig bitcoin address:
      pre= multisig

    if priv
      label Your private key:
      pre= priv
      p.muted The private key allows you to control the funds. It should be kept secret.

    if multisig && priv
      label Import multisig address and private key to bitcoin-qt/bitcoind wallet:
      pre.long bitcoind importprivkey #{priv} && bitcoind addmultisigaddress 2 '#{JSON.stringify(multisig_pubkeys)}'
    else if multisig
      label Import multisig address to bitcoind wallet:
      pre.long bitcoind addmultisigaddress 2 '#{JSON.stringify(multisig_pubkeys)}'
    else if priv
      label Import private key to bitcoind wallet:
      pre bitcoind importprivkey #{priv}

    if !priv 
      p You're using a private key that was not generated with the website. Make sure you have a
        | safe copy of it. When you'll want to release the funds, you'll be requested to sign the transaction
        | locally, or provide your private key.
  .span7
    if !alice
      h3 Awaiting other party...
      p.
        Give this URL to the other party. Once he'll connect and provide his public key, the multisig
        address will be created.
      pre.long= alice_url 
      p.muted This URL includes the terms of agreement, your public key and the escrow's public key.
        | It does not include your private key.
      p You can <a href="mailto:?subject=New+Escrow&body=#{alice_url}">click here</a> to submit the url with your email client.
    else
      .clearfix
        img.pull-right.qr(src=multisig_qr)
        h3 Pay to multisig
        p The multisig address is <code>#{multisig}</code>. Any money submitted to that address can only be released
          | with the agreement of two parties.
        p <a href="bitcoin:#{multisig}">Click here</a> to pay with your Bitcoin client, or scan the QR code.
        p <strong>Important:</strong> Before making payments to this address, ensure the public keys are correct,
          | that you agree with the terms, that the escrow provider is acceptable and that you have a safe backup
          | (see Heads Up below).

      h3 Release funds
      p <strong>Multisig balance: <span class="balance">4.5</span> BTC</strong>
        | (<a href="http://blockchain.info/address/#{multisig}/">blockchain.info transaction history</a>)
      p.
        To release the funds, create the transaction below and authorize it. This will sign the transaction with
        your private key, and request approval from the other key holders.
      p Once its approved and signed by one of them, the transaction will be broadcasted to the Bitcoin network.
      form.release-funds
        .form-inline
          button.btn.add-address(data-toggle='tooltip', title='Add address'): i.icon-plus
          input.input-xlarge.address(type='text', name='address', placeholder='Bitcoin address (payee)')
          .input-append.amount
            input.input-small(type='text', name='amount', placeholder='Amount (BTC)')
            button.btn(data-toggle='tooltip', title="Pay everything, minus #{default_fee} BTC in fees, to this address.") all 
        //p.fees Unspent balance / fees: #{multisig_balance} BTC
      p
        button.btn.btn-primary(data-toggle='tooltip', title='Create and sign the transaction created above') Create transaction
        = ' '
        button.btn(data-toggle='tooltip', title='Sign a manually entered raw transaction') Sign raw transaction
      //span.fees Fees (unspent inputs): #{multisig_balance} BTC

      //form.review
        h3 Review
        p
          | Write a review for 
          select
            option the other party (johndue)
            option the escrow (davidblo)
        .btn-group 
          button.btn +
          button.btn -
        textarea(placeholder='Notes (optional)')
        button.btn Submit review

      h3 File dispute
      p.
        To file a dispute, you'll need to contact the escrow. Provide him with an explaination of what happened,
        any evidence you might have, and anything else that you find relevant. You'll also need to give him
        the public keys, the terms and a proof you're the public key owner, all of which are embdeded in the following URL:
      pre.long= trent_url

      //p Your escrow is a registered Bitscrow user. You can contact him using the form below, and we'll forward him
        | the public keys and terms of agreement. Make sure to provide him with an explaination of what happened,
        | any evidence you might have, and anything else that you find relevant.
      //form.dispute
        label Message body:
        textarea
        button.btn Submit dispute
      .alert.keep-copy
        //button.close(type='button', data-dismiss='alert') &times;
        h3 Heads up!
        p <strong>Make sure to keep a safe copy of all three public keys, your private key and the terms.</strong> They're
          | <strong>cryptographically required</strong> for releasing the funds or starting a dispute.

        p
          if priv
            | All this information is embeded in the page URL.
          else
            | All this information, <strong>except the private key which you should have saved elsewhere</strong>, is embeded in the page URL.
          = ' '
          | You can bookmark the page, or copy the URL below:
        pre.long= bob_url 
        if priv
          p: strong This URL includes your private key and should be kept secret.
