mixin copy(text, bgcolor, path)
  - bgcolor || (bgcolor = '#ffffff')
  - path || (path = '/lib/clippy.swf')
  object(classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", width="14", height="14", id="clippy")
    param(name="movie", value=path)
    param(name="allowScriptAccess", value="always")
    param(name="quality", value="high")
    param(name="scale", value="noscale")
    param(name="FlashVars", value="copied=&copyto=&text="+encodeURIComponent(text))
    param(name="bgcolor", value=bgcolor)
    embed(src=path, width="14", height="14", name="clippy",
          quality="high", allowScriptAccess="always",
          type="application/x-shockwave-flash",
          pluginspage="http://www.macromedia.com/go/getflashplayer",
          FlashVars="copied=&copyto=&text="+encodeURIComponent(text),
          bgcolor=bgcolor)
