form.tx-dialog.modal.hide.fade
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Confirm transaction 
  .modal-body
    table.table
      thead: tr
        th Pay to
        th Amount
      tbody
        each out in outs
          tr
            td= out.address
              if out.is_change
                strong  (change)
            td #{out.value} BTC
      tfoot
        tr
          th Fees:
          td #{fees} BTC
        tr
          th Total:
          td #{total_in} BTC
    
    if final
      p This transaction was sent for approval by another party.
      p Authorizing this transaction will sign the transaction with your private key and 
       | broadcast it to the Bitcoin network#{testnet?'':" using coinbin's pushtx service"}.
    else
      p Authorizing this transaction will sign the transaction with your private key and 
       | send it to the other parties for final approval.

    if !has_priv
      p Please sign the transaction locally or provide the private key for <em>#{pub_address}</em>.
      ul.nav.nav-tabs
        li.active: a(href='#provide-private', data-toggle='tab') Enter private key 
        li: a(href='#sign-locally', data-toggle='tab') Sign locally with Bitcoind
      div.tab-content
        .tab-pane.active#provide-private
          if is_dispute
            p You can find your private key in your arbitrator management page.
          input.input-block-level(type='text', name='priv', placeholder='Base58-check encoded private key')
        .tab-pane#sign-locally
          p Add the multisig address:
          pre.click-to-select bitcoind addmultisigaddress 2 '#{JSON.stringify(pubkeys)}'
          p Sign the transaction (you can verify it with "decoderawtransaction" first):
          pre.click-to-select bitcoind signrawtransaction #{rawtx}
          p Paste the output here:
          textarea.signedtx.input-block-level(name='signed-raw-tx', placeholder='Input signed raw transaction in hex format')
    
    .errors
  .modal-footer
    .authorize
      p Do you want to authorize this transaction?
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-primary.ok(type='button') Yes, authorize

    //- hidden until the first confirmation button is clicked
    .confirm
      p Are you sure? please confirm again.
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-danger.ok(type='button') Confirm


