- proof_popover =  '<div class="proof-popover">'
- proof_popover += '<p>This digital signature proves the other party accepted the terms:</p>'
- proof_popover += '<pre>'+proof+'</pre>'
- proof_popover += '</div>'

.container-page
  // form is processed client-side, should never be submitted anywhere
  form(action='http://')
    fieldset
      legend Join transaction
      :markdown
        You received an invitation to join an arbitrated transaction. The other party
        provided his public key, the arbitrator public key and the terms of agreement.

        Clicking "I accept" will sign the terms with your key, send the signature
        and your public key to the other party, and start the arbitrated transaction.

        First time here? [Click here](learn) to learn more about how this works.

      label Arbitrator public key
      .help-block
        :markdown
           The arbitrator was choosen by the other party.
           Make sure his choice is acceptable,
           and verify the public key against a reliable source.
      pre= trent

      label Your public/private key
      .help-block
        :markdown
          This random private key was created for you and **should be kept secret**.
          You can replace it with a [locally generated public key](keys),
          or use keys from sites like [brainwallet](http://brainwallet.org/)
          or [bitaddress](https://www.bitaddress.org/).
      input.fullwidth(type='text', name='bob', value=bob_priv, placeholder='Public key (hex) or private key (base58)',
                      required, pattern='^([a-f0-9]{130}|[59][123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz]{50})$',
                      autocomplete='off')
      .muted
        :markdown
          <i class="icon-lock"></i>
          **Private keys are never processed by our servers.**
          See our [security policy](/security.html) for more information.
      label Terms of agreement
      .help-block
        :markdown
          Those are the terms provided by the other party. Please read them and make
          sure you fully agree with them.

          The terms should include contact information for both parties,
          Bitcoin addresses, description of the transaction, the conditions upon which
          the transaction is valid, and any other agreed upon terms.
      pre.terms= terms
    p.badge.badge-success.pull-right.signed(data-toggle='popover', data-html, data-content=proof_popover)
      | <i class="icon-ok-sign icon-white"></i> Signed by other party 

    button.btn.btn-large.btn-primary(type='submit') I accept
  .muted
    :markdown
      By using this service, you agree to [Bitrated terms of services](/terms.html).
