- proof_popover =  '<div class="proof-popover">'
- proof_popover += '<p>This digital signature proves the other party accepted the terms:</p>'
- proof_popover += '<pre>'+proof+'</pre>'
- proof_popover += '</div>'

.row-fluid
  .span5.tx-details.advanced-off
    h3 Transaction details
    //label Terms of agreement:
    pre.terms= terms
    .clearfix
      if is_dispute
        p.badge.badge-info.pull-left Dispute by Party A
      p.badge.badge-success.pull-right.signed(data-toggle='popover', data-html, data-content=proof_popover)
        | <i class="icon-ok-sign icon-white"></i> Signed by #{is_dispute ? 'Party B' : 'other party'}

    .advanced
      .pubkeys
        mixin pubkey(key, address)
          pre= key
          p.help-block Address: #{address}
        ul.nav.nav-tabs
          li: label Public keys:
          li.active: a(href='#pubkey-bob', data-toggle='tab')= is_dispute ? 'Party A' : 'Yours'
          li: a(href='#pubkey-alice', data-toggle='tab')= is_dispute ? 'Party B' : 'Other party'
          li: a(href='#pubkey-trent', data-toggle='tab') Arbitrator
        div.tab-content
          .tab-pane.active#pubkey-bob: +pubkey(bob, bob_address)
          .tab-pane#pubkey-alice: +pubkey(alice, alice_address)
          .tab-pane#pubkey-trent: +pubkey(trent, trent_address)

      if bob_priv
        label Your private key:
        pre.blurry= bob_priv
        p.muted The private key allows you to control the funds, and <strong>should be kept secret</strong>.

      if bob_priv
        label Import multisig address and private key to bitcoin-qt/bitcoind wallet:
        pre bitcoind importprivkey <span class="blurry">#{bob_priv}</span> && bitcoind addmultisigaddress 2 '#{JSON.stringify(pubkeys)}'
      else
        label Import multisig address to bitcoind wallet:
        pre bitcoind addmultisigaddress 2 '#{JSON.stringify(pubkeys)}'
        if !is_dispute
          p You're using a private key that was not generated with the website. Make sure you have a
            | safe copy of it. When you'll want to release the funds, you'll be requested to provide it
            | or to sign the transaction locally.
    label.checkbox
      input.show-advanced(type='checkbox')
      | Advanced mode

  .span7
    if !is_dispute
      .pay.clearfix
        h3 Pay to multisig
        img.pull-right(src=multisig_qr)
        p Any payments made to the multisig address can only be released
          | with the agreement of two parties. The multisig address is:
        p.multisig-address= multisig
        .pay-link
          a.btn.btn-primary(href="bitcoin:#{multisig}") Pay with Bitcoin
          p.help-block (or scan the QR code to the right)
        if testnet
          .text-error
            :markdown
              You're currently using a version running on the
              [Bitcoin Testnet](https://en.bitcoin.it/wiki/Testnet).
              You can get some testnet coins sent to the multisig address
              [here](http://faucet.xeno-genesis.com/)
              (please return them to the faucet when you're done).

    include ./includes/tx-builder

    if !is_dispute
      h3 File dispute
      :markdown
        To file a dispute, contact the arbitrator and provide him with an explanation
        of what happened, relevant correspondence between you and the other party,
        any evidence you might have and the following URL:
      pre.url.click-to-select= trent_url
      .muted
        :markdown
          This URL contains all three *public* keys, the terms and the other party's signature.
