.tx-builder
  p
    | <strong>Balance:</strong> <span class="balance">unknown</span> 
    button.btn.btn-mini.update-balance: i.icon-refresh
    = ' '
    span.muted.
      (loaded from <a href="https://blockchain.info/">blockchain.info</a>, see
      <a href="https://blockchain.info/address/#{multisig}/"><span class="icon-share"></span> full transaction history</a>)
  .addresses
    .address.form-inline
      button.btn.add-address(tabindex=-1): i.icon-plus
      = ' '
      .input-append
        input.input-xlarge(type='text', name='address', placeholder='Destination address')
        .btn-group
          .btn.dropdown-toggle(data-toggle='dropdown'): span.caret
          ul.dropdown-menu
            li: a(data-address=bob_address)= is_dispute ? 'Party A' : 'You'
            li: a(data-address=alice_address)= is_dispute ? 'Party B': 'Other party'
            li: a(data-address=trent_address) Arbitrator
            li: a(data-address=multisig) Multisig (change)
      = ' '
      .input-append
        input.input-small(type='text', name='value', placeholder='BTC amount')
        .btn-group
          .btn.dropdown-toggle(data-toggle='dropdown'): span.caret
          ul.dropdown-menu
            li: a.pay-remaining(title="Minus #{default_fee} BTC in fees") Pay remaining
            li: a.pay-some Pay % of total
  .btn-group
    button.btn.btn-primary.release Release 
    button.btn.btn-primary.dropdown-toggle(data-toggle='dropdown'): span.caret
    ul.dropdown-menu
      li: a.input-rawtx Input hex transaction
      li: a.show-rawtx Get hex transaction
